/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  font-family: "Poppins", sans-serif;
}
:root {
  --main-color: #3c8af1;
  --bg-color: #000000;
  --text-color: #ffffff;
  --hover: hsl(216, 100%, 50%);
 
  --big-font: 3.2rem;
  --medium-font: 1.8rem;
  --p-font: 0.941rem;
}
section {
  padding: 50px 10%;
  z-index: 1;
}
body.active {
  --text-color: #fff;
  --bg-color: #0f0c27;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
*::selection {
  color: var(--bg-color);
  background: var(--main-color);
}
.heading {
  text-align: center;
}
.heading h2 {
  font-size: 30px;
}
 
.heading span {
  font-size: var(--p-font);
  color: rgb(2, 166, 70);
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 10005;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 13px 10%;
  transition: 0.2s;
  box-shadow: -3px -3px 7px #ffffff73,
				2px 2px 5px rgba(94, 104, 121, 0.288);
}
header.shadow {
  box-shadow: 0 0 4px rgb(14 55 54 / 15%);
}
.logo {
  font-size: 1.61rem;
  font-weight: 600;
  color: var(--text-color);
}
.navbar {
  display: flex;
}
.navbar a {
  font-size: 1rem;
  padding: 10px 20px;
  color: var(--text-color);
  font-weight: 500;
}
.navbar a:hover {
  color: var(--hover);
}
#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}
/*#darkmode {
  font-size: 22px;
  cursor: pointer;
}*/

canvas{
  width: 100%;
  height: 100%;
  z-index: 5;
  position: fixed;
  left: 0;
  top: 0;
  
}
i{
  z-index: 1000;
}


div{
  z-index: 1000;
}
img{
  z-index: 1000;
}

.first span{
  font-weight: 100px;
}

.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr;
  align-items: center;
  gap: 1rem;
  z-index: 1000;
}
.home-img {
  order: 3;
}
.home-img img {
  width: 90%;
}
.home-text span {
  font-size: var(--medium-font);
  font-weight: 500;
}
.home-text h1 {
  position: relative;
  letter-spacing: 1px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
  line-height: 1em;
  outline : none;
  animation: animate 3s linear infinite;
  font-size: var(--big-font);

  
}
@keyframes animate{
  0%,18%,20%,50%,1%,60%,65.1%,80%,90.1%,92%{
  color: #808dfe;
  text-shadow:none;
}
18.1%,20.1%,30%,50%,60%,65%,80.1%,90%,92.1%,100%{
  color: #fff;
  text-shadow: 0 0 10px #5b82ec,
  0 0 20px #5e88fc,
  0 0 40px #3166f8,
  0 0 80px #2860fb,
  0 0 160px #2860fb,

}
}

h2{
  position: relative;
  letter-spacing: 1px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
  line-height: 1em;
  outline : none;
  animation: animate 3s linear infinite;
  font-size: var(--big-font);
  
}

.home-text h3{
  font-size: 1.1rem;
  padding-top: 100px;
}

.home-text h2 {
  font-size: 1.1rem;
  font-weight: 400;
}
.home-text p {
  font-size: var(--p-font);
  font-weight: 400;
  margin: 0.7rem 0 1rem;
}
.social {
  display: flex;
  flex-direction: column;
}
.social a {
  margin-bottom: 1rem;
  font-size: 22px;
  color: var(--text-color);
}
.social a:hover {
  color: var(--hover);
}
.btn {
  display: inline-block;
  background: var(--main-color);
  color: #fff;
  padding: 0.7rem 1.3rem;
  border-radius: 0.5rem;
}
.btn:hover {
  background: var(--hover);
}
 

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}
 
.about-img img {
  width: 90%;
  height: 70%;
  border-radius: 0.5rem;
  margin-top: -18px;
}
.about-text p {
  font-size: var(--p-font);
  font-weight: 400;
  text-align: justify;
}

.info-box a{
  color: white;
}


.information {
  margin: 1rem 0 1.4rem;
}
.information .info-box {
  display: flex;
  align-items: center;
  margin-bottom: 1.4rem;
}
.information .info-box .bx {
  font-size: 22px;
}
.information .info-box span {
  font-weight: 400;
  margin-left: 1rem;
}

@keyframes scroll{
     0%{
      transform: translatex(0);
     }
     100%{
      transform: translatex(calc(-250px * 6))
     }
}

.skills-slider{
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
}

.skills-slider .skills-track{
  animation: scroll 20s linear infinite;
  display:flex;
  width:calc(250px*14);
}

.skills-slider .slide{
  height: 100px;
  width: 150px;
}

.services-content {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(200px, auto));
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}
ul.list{
  list-style-type: disc;
  list-style-position: outside;
  list-style: none;
  
}

.list li::before {
  content: "\2022";
  color: rgb(255, 255, 255);
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
.services-box {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  border-radius: 0.5rem;
  border-bottom: 2px solid var(--main-color);
  box-shadow: 0 2px 7px rgb(14 55 54 / 15%);
}
.services-box:hover{
 background-color: #02225a;
}

.services-box h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.7rem 0 0.4rem;
}
.services-box:hover h3{
  color: #fff;
}
.services-box .bx {
  padding-top: 2rem;
  font-size: 54px;
  color: var(--main-color);
}
.services-box:hover .bx{
  color: #22cf91;
}
.services-box a {
  color: var(--main-color);
  font-size: var(--p-font);
  font-weight: 500;
}
.services-box:hover a{
  color: #8b8a8f;
}
.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  gap: 1rem;
  margin-top: 2rem;
}
.portfolio-img {
  overflow: hidden;
  border-radius: 0.5rem;

}
.portfolio-img img {
  width: 100%;
  display: block;
}
.portfolio-img img:hover {
  transform: scale(1.1);
  transition: 1s;
}


/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background-color: red;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }



.education-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, auto));
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}



.education-box {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  border-radius: 0.5rem;
  border-bottom: 2px solid var(--main-color);
  box-shadow: 0 2px 7px rgb(14 55 54 / 15%);
}
.education-box:hover{
 background-color: #02225a;
}

.eduaction-box h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.7rem 0 0.4rem;
}
.eduaction-box:hover h3{
  color: #fff;
}
.education-box .bx {
  padding-top: 2rem;
  font-size: 54px;
  color: var(--main-color);
}


.footer {
  display: grid;
  place-items: center;
  padding: 20px;
  background: #ebebeb;
  color: #000;
  
}
.footer h2 {
  font-size: 1.5rem;
  margin-bottom: 1.6rem;
}

.copyright {
  padding: 20px;
  background: var(--main-color);
  text-align: center;
  color: #fff;
  margin-bottom: -1000px;
}

/* Making Responsive */
@media (max-width: 991px) {
  header {
    padding: 18px 4%;
  }
  section {
    padding: 50px 4%;
  }
}
@media (max-width: 881px) {
  :root {
    --big-font: 2.7rem;
    --medium-font: 1.4rem;
  }
}
@media (max-width: 768px) {
  :root {
    --big-font: 2.4rem;
    --medium-font: 1.2rem;
  }
  header {
    padding: 11px 4%;
  }
  #menu-icon {
    display: initial;
    color: var(--text-color);
  }
  header .navbar {
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
    transition: 0.2s ease;
    text-align: center;
  }
  .navbar.active {
    top: 100%;
  }
  .navbar a {
    padding: 1.5rem;
    display: block;
    background: var(--bg-color);
  }
  #darkmode {
    position: absolute;
    top: 1.4rem;
    right: 2rem;
  }
  .scroll-down {
    display: none;
  }
  .home {
    grid-template-columns: 0.5fr 3fr;
  }
  .home-text {
    grid-column: 1/3;
    padding-left: 1.4rem;
  }
  .home-img {
    order: initial;
  }
  .about-container {
    grid-template-columns: 1fr;
  }
  .about-img {
    display: flex;
    justify-content: center;
  }
  .skills-container {
    grid-template-columns: 1fr;
  }
  .skills-img img {
    padding-left: 0;
  }
  .skills-img {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
  }
  .contact-form form{
    width: 300px;
  }
  .contact-button{
    margin-left: 25%;
  }
}
@media (max-width: 340px) {
  :root {
    --big-font: 1.7rem;
    --medium-font: 1.1rem;
  }
  .home-text span {
    font-size: 1rem;
  }
  .home-text h2 {
    font-size: 0.9rem;
    font-weight: 500;
  }
  
  .information .info-box span {
    font-size: 1rem;
  }
  .portfolio-content {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  }
  .education-content{
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  }
  .contact-form form{
    width: 300px;
  }
  .contact-button{
    margin-left: 25%;
  }
}



/* media queries  */

@media (max-width:991px){


  section{
      padding:2rem;
  }    

  .container{
      grid-template-columns: 2fr 1fr;
  }

}

@media (max-width:768px){

  #menu-bars{
      display: inline-block;
  }

  .header .search-form{
      top:100%; left: 0; right: 0;
      border-top: var(--border);
      width: 100%;
      border-radius: 0;
  }

  .header .navbar{
      position: absolute;
      top:100%; left: 0; right: 0;
      border-top: var(--border);
      border-bottom: var(--border);
      background: #fff;        
      display: none;
  }

  .header .navbar.active{
      display: block;
  }

  .header .navbar a{
      display: block;
      background:#f7f7f7;
      padding:1.5rem;
      margin:1.5rem;
      border-radius: .5rem;
      border:var(--border);
  }

  .container{
      grid-template-columns: 1fr;
      gap:0;
  }

  .container .posts-container .post .image{
      height: 30rem;;
  }

  .footer{
      flex-flow: column;
      text-align: center;
  }

}

@media (max-width:450px){

  html{
      font-size: 50%;
  }

  .contact form .inputBox input{
      width:100%;
  }    

}